<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <ion-list>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input formControlName="username" type="email"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.username">
        <ng-container *ngIf="username.hasError(error.type)   ">
          <small class="error-message">{{ error.message}}</small>
        </ng-container>

      </div>

      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input formControlName="password" type="Password"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.password">
        <ng-container *ngIf="password.hasError(error.type)  ">
          <small class="error-message">{{ error.message}}</small>
        </ng-container>
      </div>

      <ion-button ion-button type="submit">Register
      </ion-button>
    </ion-list>
  </form>
</ion-content>