<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form >
  <ion-list>
  <ion-item >
      <ion-label>Email</ion-label>
      <ion-input formControlName="username" type="email"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label>Password</ion-label>
      <ion-input formControlName="password" type="Password"></ion-input>
  </ion-item>
</ion-list>
  <ion-button ion-button type="submit">Register</ion-button>

</form>
</ion-content>
